<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Styles-->
    <link rel="stylesheet" href="../src/css/bootstrap.css">
    <link rel="stylesheet" href="../src/css/context-menu.css">
    <link rel="stylesheet" href="../src/css/pad-item.css">

    <title>Audio Palette</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md p-1 m-1" id="01">
                <button class="pad-item">Empty</button>
            </div>
            <div class="col-md p-1 m-1" >
                <button class="pad-item">Empty</button>
            </div>
            <div class="col-md p-1 m-1" >
                <button class="pad-item">Empty</button>
            </div>
            <div class="col-md p-1 m-1" >
                <button class="pad-item">Empty</button>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md p-1 m-1" >
                <button class="pad-item">Empty</button>
            </div>
            <div class="col-md p-1 m-1" >
                <button class="pad-item">Empty</button>
            </div>
            <div class="col-md p-1 m-1" >
                <button class="pad-item">Empty</button>
            </div>
            <div class="col-md p-1 m-1" >
                <button class="pad-item">Empty</button>
            </div>
        
        </div>
        <div class="row">
            <div class="col-md p-1 m-1" >
                <button class="pad-item">Empty</button>
            </div>
            <div class="col-md p-1 m-1" >
                <button class="pad-item">Empty</button>
            </div>
            <div class="col-md p-1 m-1" >
                <button class="pad-item">Empty</button>
            </div>
            <div class="col-md p-1 m-1" >
                <button class="pad-item">Empty</button>
            </div>
            
        </div>
    </div>
    
    <script src="../src/js/context-menu.js"></script>
    <script src="../src/js/mainPage.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
</body>
</html>